<mat-card>
    <mat-card-subtitle>{{'shiftParticipants' | translate}}</mat-card-subtitle>
    <mat-card-content>
        <table mat-table [dataSource]="participants" class="mat-elevation-z8">

            <!-- Name Column -->
            <ng-container matColumnDef="column-name">
                <th mat-header-cell *matHeaderCellDef> {{'name' | translate}}</th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <!-- Role Column -->
            <ng-container matColumnDef="column-role">
                <th mat-header-cell *matHeaderCellDef> {{'role' | translate}}</th>
                <td mat-cell *matCellDef="let element"> {{element.role | translate}} </td>
            </ng-container>

            <!-- Action Column -->
            <ng-container matColumnDef="column-action">
                <th mat-header-cell *matHeaderCellDef> {{'action' | translate}}</th>
                <td mat-cell *matCellDef="let element">
                    <button class="btn btn-danger" (click)="deleteParticipant(element.id)">{{'delete' | translate}}
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
            </ng-container>

            <!-- Add Name Column -->
            <ng-container matColumnDef="column-add-name">
                <td mat-footer-cell *matFooterCellDef>
                    <mat-form-field appearance="outline">
                        <mat-label>{{'selectEmployee' | translate}}</mat-label>
                        <mat-select (selectionChange)="onSelectEmployee($event)">
                            <mat-option *ngFor="let employee of employees$ | async" [value]="employee.id">
                                {{employee.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </td>
            </ng-container>

            <!-- Add Role Column -->
            <ng-container matColumnDef="column-add-role">
                <td mat-footer-cell *matFooterCellDef>
                    <mat-form-field appearance="outline">
                        <mat-label>{{'selectRole' | translate}}</mat-label>
                        <mat-select (selectionChange)="onSelectRole($event)">
                            <mat-option *ngFor="let role of roles" [value]="role">
                                {{role | translate}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </td>
            </ng-container>

            <!-- Add Action Column -->
            <ng-container matColumnDef="column-add-action">
                <td mat-footer-cell *matFooterCellDef>
                    <button class="btn btn-success"  [disabled]="!selectedEmployee || !selectedRole" (click)="addParticipant()">
                        <span>{{'add' | translate}} <mat-icon>add</mat-icon></span>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            <tr mat-footer-row *matFooterRowDef="addColumns"></tr>

        </table>
    </mat-card-content>
</mat-card>
