<mat-card>
    <mat-card-subtitle>Shift participants</mat-card-subtitle>
    <mat-card-content>
        <app-employee-select (employeeAddedToShift)="loadShiftParticipants()" [shiftParticipants]="participants"
                             [shiftId]="shift.id"></app-employee-select>
        <hr class="mb-4 mt-4">
        <table mat-table [dataSource]="participants" class="mat-elevation-z8">

            <!-- Name Column -->
            <ng-container matColumnDef="column-name">
                <th mat-header-cell *matHeaderCellDef> Name</th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <!-- Role Column -->
            <ng-container matColumnDef="column-role">
                <th mat-header-cell *matHeaderCellDef> Role</th>
                <td mat-cell *matCellDef="let element"> {{element.role}} </td>
            </ng-container>

            <!-- Action Column -->
            <ng-container matColumnDef="column-action">
                <th mat-header-cell *matHeaderCellDef> Action</th>
                <td mat-cell *matCellDef="let element">
                    <button class="btn btn-danger" (click)="deleteParticipant(element.id)">Delete
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </mat-card-content>
</mat-card>
