<table cellspacing="0" align="center">
    <tr>
        <td align="center" height="50"><br>
            <b>{{'activityPeriod' | translate}}</b>
        </td>
        <td align="center" height="50" width="300"><br>
            <b>{{'action' | translate}}</b>
        </td>
        <td align="left" height="50" *ngFor="let slot of hourSlots" colspan="4">
            <b>{{slot}}</b>
        </td>
    </tr>
    <tr *ngFor="let activity of activities">
        <td align="center" height="50">
            <b>{{activity.typeName}}</b>
        </td>
        <td align="center" height="50">
            <div class="btn-group">
                <button class="btn btn-primary p-1" (click)="editActivity(activity.id)">
                    {{'edit' | translate}} <mat-icon>edit</mat-icon>
                </button>

                <button class="btn btn-danger p-1" (click)="deleteActivity(activity.id)">
                    {{'delete' | translate}} <mat-icon>delete</mat-icon>
                </button>
            </div>

        </td>
        <td align="center" height="50" width="100" *ngFor="let slot of slots"  [ngStyle]="{'background-color':isActivityInSlot(activity, slot.dateTime)? 'blue' : 'white'}">
        </td>
    </tr>
</table>
