<ng-container *ngIf="round && shift && activities">
    <button *ngIf="isEditable" class="btn btn-lg btn-success" (click)="goToStepper()">{{'addActivity' | translate}}</button>
    <ng-container *ngIf="activities && activities.length > 0">
        <app-timetable [activities]="activities" [shift]="shift"
                       [round]="round" (activityDeleted)="onActivityDeleted()" [isEditable]="isEditable"></app-timetable>
        <div class="row">
            <div class="col-md-6 custom-border">
                <app-measures [activities]="activities" [roundId]="round.id"
                              [isEditable]="isEditable"></app-measures>
            </div>
        </div>
    </ng-container>
</ng-container>

