<mat-card>
    <mat-card-content>
        <div class="row">
            <div class="col-md-12">
                <b>{{supportDefinition.name}}</b>
            </div>
            <div class="col-md-12">
                Cross Section: {{supportDefinition.crossSectionName}}
            </div>
            <div class="col-md-12">
                Type: {{supportDefinition.typeName}}
            </div>
            <div class="col-md-12">
                Tunneling Class: {{supportDefinition.tunnelingClass}}
            </div>
        </div>
    </mat-card-content>
</mat-card>
