<mat-card>
    <mat-card-content>
        <div class="row">
            <div class="col-md-12">
                <b>{{supportDefinition.name}}</b>
            </div>
            <div class="col-md-12">
                {{'crossSection' | translate}}: {{supportDefinition.crossSectionName}}
            </div>
            <div class="col-md-12">
                {{'type' | translate}}: {{supportDefinition.typeName}}
            </div>
            <div class="col-md-12">
                {{'tunnelingClass' | translate}}: {{supportDefinition.tunnelingClass}}
            </div>
        </div>
    </mat-card-content>
</mat-card>
