<div class="btn-block">
    <mat-form-field appearance="outline">
        <mat-label>{{'selectEmployee' | translate}}</mat-label>
        <mat-select (selectionChange)="onSelectEmployee($event)">
            <mat-option *ngFor="let employee of employees$ | async" [value]="employee.id">
                {{employee.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    &nbsp;
    <mat-form-field appearance="outline">
        <mat-label>{{'selectRole' | translate}}</mat-label>
        <mat-select (selectionChange)="onSelectRole($event)">
            <mat-option *ngFor="let role of roles" [value]="role">
                {{role}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    &nbsp;
    <button class="btn btn-success"  [disabled]="!selectedEmployee || !selectedRole" (click)="addEmployeeToShift()">
        <span>{{'add' | translate}} <mat-icon>add</mat-icon></span>
    </button>
</div>


