.mat-table{
    box-shadow: none !important;
}

.mat-grid-tile {
    border: 1px solid darkorange;
}

.mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-start,
.mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-end,
.mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-gap {
    border-width: 4px !important;
}

.mat-form-field {
    width: 255px;
}

.mat-select {
    padding-bottom: 5px;
    padding-top: 5px;
}

mat-form-field.mat-form-field {
    font-size: 16px;
}

.mat-form-field-wrapper {
    padding-bottom: 0 !important;
}

.mat-icon {
    vertical-align: middle;
}
