<ng-container *ngIf="roundId">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
            <mat-card>
                <mat-card-content class="text-center">
                    <form [formGroup]="measureFormGroup">
                        <div class="row">
                            <div class="col-md-12 mb-4">
                                <app-measure-definition-select [formGroup]="measureFormGroup"></app-measure-definition-select>
                            </div>
                            <div class="col-md-12 mb-4">
                                <mat-form-field appearance="outline">
                                    <mat-label>{{'quantity' | translate}}</mat-label>
                                    <input matInput type="number"  placeholder="{{'quantity' | translate}}" name="quantity" formControlName="quantity">
                                </mat-form-field>
                            </div>
                        </div>
                    </form>
                </mat-card-content>
                <mat-card-actions align="end">
                    <button class="btn btn-success" [disabled]="measureFormGroup.invalid" (click)="addMeasure()">
                        {{'add' | translate}}<mat-icon>add</mat-icon>
                    </button>
                </mat-card-actions>
            </mat-card>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
            <app-add-measure-list-preview [formArray]="getMeasureArray()"></app-add-measure-list-preview>
        </div>
    </div>
</ng-container>
