.mat-column-column-startChainage, .mat-column-column-endChainage, .mat-column-column-state, .mat-column-column-action {
    padding: 10px 20px;
    font-size: 16px;
}


mat-card {
    box-shadow: none !important;
}
