<mat-card>
    <mat-card-subtitle>{{'tunnelRounds' | translate}}
        <span style="float: right">
            <button class="btn  btn-success" (click)="goToTunnelRoundForm()">{{'createTunnelRound' | translate}}</button>
        </span>
    </mat-card-subtitle>
    <mat-card-content>
        <table mat-table [dataSource]="tunnelRounds" class="mat-elevation-z8">

            <!-- Name Column -->
            <ng-container matColumnDef="column-startChainage">
                <th mat-header-cell *matHeaderCellDef> {{'startChainage' | translate}} </th>
                <td mat-cell *matCellDef="let element"> {{element.startChainage}} m</td>
            </ng-container>

            <!-- Role Column -->
            <ng-container matColumnDef="column-endChainage">
                <th mat-header-cell *matHeaderCellDef> {{'endChainage' | translate}} </th>
                <td mat-cell *matCellDef="let element"> {{element.endChainage}} m</td>
            </ng-container>

            <!-- State Column -->
            <ng-container matColumnDef="column-state">
                <th mat-header-cell *matHeaderCellDef> {{'state' | translate}} </th>
                <td mat-cell *matCellDef="let element"> {{element.state | translate}} <span *ngIf="element.state === 'confirmed'" class="text-success"><mat-icon>check</mat-icon></span></td>
            </ng-container>

            <ng-container matColumnDef="column-action">
                <th mat-header-cell *matHeaderCellDef> {{'action' | translate}} </th>
                <td mat-cell *matCellDef="let element">
                    <div class="btn-group">
                        <button class="btn btn-info" (click)="goToTunnelRound(element.id)"><span class="text-light">{{'view' | translate}}</span></button>
                        <ng-container *ngIf="element.state === 'draft'">
                            <button class="btn btn-danger" (click)="deleteRound(element.id)">{{'delete' | translate}}</button>
                        </ng-container>
                    </div>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </mat-card-content>
</mat-card>

