<mat-grid-list cols="3" rowHeight="10rem">
    <mat-grid-tile [rowspan]="1">
        <app-section-select (sectionSelected)="onSectionSelected($event)" ></app-section-select>
    </mat-grid-tile>
    <ng-container *ngIf="section">
        <mat-grid-tile [rowspan]="1">
            <app-support-definition-select [sectionId]="section.id" (supportDefinitionSelected)="onSupportDefinitionSelected($event)"></app-support-definition-select>
<!--            <div class="row">-->
<!--                <div class="col-md-12 text-center">-->
<!--                    <app-support-definition-select [sectionId]="section.id" (supportDefinitionSelected)="onSupportDefinitionSelected($event)"></app-support-definition-select>-->
<!--                </div>-->
<!--                <div class="col-md-12">-->
<!--                    <ng-container *ngIf="supportDefinition">-->
<!--                        &nbsp;&nbsp;-->
<!--                        <app-support-definition-display [supportDefinition]="supportDefinition"></app-support-definition-display>-->
<!--                    </ng-container>-->
<!--                </div>-->
<!--            </div>-->
        </mat-grid-tile>
        <mat-grid-tile [rowspan]="1">
            <app-shift-select [sectionId]="section.id" (shiftSelected)="onShiftSelected($event)"></app-shift-select>
        </mat-grid-tile>
    </ng-container>
</mat-grid-list>
<ng-container *ngIf="shift && section && supportDefinition">
    <div class="row">
        <div class="col-md-6 custom-border">
            <app-shift-participants [shift]="shift"></app-shift-participants>
        </div>
        <div class="col-md-6 custom-border">
            <app-tunnel-rounds [shift]="shift" [sectionId]="section.id" [supportDefinition]="supportDefinition"></app-tunnel-rounds>
        </div>
    </div>
</ng-container>
